body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f0f0f0;
  color: #333;
}

header, footer {
  background: #f5dd09;
  color:#3601c6;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #3601c6;
  text-decoration: none;
}

section {
  padding: 40px;
  background: #fff;
  margin: 20px;
  border-radius: 8px;
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Makes it circular */
  object-fit: cover;
  border: 4px solid #444;
  display: block;
  margin: 20px auto;
}

.profile-pic:hover {
  transform: scale(1.05); /* Grows slightly */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); /* Stronger shadow */
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }
}

